.advantages__title {
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
  width: 279px;
  height: 300px;
  margin: 0;
  padding: 0;
}

.advantages__item {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}
