.catalog-item__title a {
  text-decoration: none;
  color: $color-menu-items;
  text-transform: uppercase;
}

.catalog-item__button {
  text-decoration: none;
  color: $color-menu-item--desktop;
  width: 280px;
  height: 40px;
  background-color: $green;
}

.button--gray {
  color: $special_dark-grey;
  background-color: $bg-color;
}

.catalog-item__info {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  td {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: $special_dark-grey;

    &:last-child {
      text-align: right;
    }
  }
}
