.catalog-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px 25px;
  border-bottom: 1px solid $color-border-main;


  &--add {
    position: relative;
    padding-top: 57px;

    &::before {
      content: "";
      position: absolute;
      top: 26px;
      left: 50%;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%) translateZ(0);
      will-change: transform;
    }
  }
}

.catalog-item__title {
  width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-foot-special;
  text-transform: uppercase;
}

.catalog-item__title--desc{
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-foot-special;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item__title a {
  text-decoration: none;
  color: $color-menu-items;
  text-transform: uppercase;
}

.catalog-item__button {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-menu-item--desktop;
  width: 280px;
  height: 40px;
  background-color: $green;
  padding: 0;
  text-transform: uppercase;
}

.catalog-item__info {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.catalog-item__table-column {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  &:last-child {
    text-align: right;
  }
}

.catalog-item__description {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  text-align: center;
}

.catalog-item__picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  width: 50%;
  outline: none;
}

.catalog-item__picture {
  display: block;
}

.catalog-item__inner {
  width: 140px;
  padding-bottom: 22px;
}

.catalog-item__inner--desc {
  padding-bottom: 22px;
}

.catalog-item__table-column--big {
  text-transform: uppercase;
}
