.contacts__wrapper{
  width: 320px;
  height: 114px;
}

.contacts__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__slogan{
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  height: 28px;
  text-transform: uppercase;
}

.contacts__address{
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  height: 60px;
  color: $special_dark-grey;
}
