.contacts {
  width: 320px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    background-color: $color-menu-item--desktop;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0;
    margin: 0;
  }
}

.contacts__wrapper {
  width: 320px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.contacts__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 20px 22px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 66px 72px 51px 72px;
  }
}

.contacts__inner--white {
  background-color: $color-menu-item--desktop;
}

.contacts__slogan {
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  text-transform: uppercase;
  margin: 0;
  color: $color-foot-special;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__address {
  font-family: $sec-font;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;

    span {
      display: block;
      margin-top: 20px;
    }
  }
}

.contacts__map {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
