.form {
  padding-top: 25px;
  padding-bottom: 33px;
  border-style: none;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
}

.form__main-form {
  width: 280px;
  padding: 0 20px 0 20px;
  margin: 0;
}

.form__header {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.form__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

}

.form__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__fieldset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

// .form__fieldset-item{
//   display: grid;
//   grid-template-columns: 1fr 2fr;
//   padding-bottom: 13px;
// }
