.page-footer {
  background-color: $bg-color;
}

.page-footer__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}


.page-footer__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid $color-gray;
}

.page-footer__social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  height: 22px;
  border-bottom: 1px solid $color-gray;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  font-family: $sec-font;
  color: $special_dark-grey;
  text-decoration: none;
}
