//  Colors
$base-font:"Oswald",
"Arial",
sans-serif;
$sec-font: "Arial",
sans-serif;
$color-gray: #D9D9D9;
$color-bg-gray: #EAEAEA;
$bg-color: #F2F2F2;
$special_dark-grey: #444444;
$color-menu-items: #111111;
$color-menu-item--tablet: #222222;
$color-menu-item--desktop: #ffffff;
$color-border-gray: #CDCDCD;

$green: #68b738;
